.cardselezione {
  border: 10px solid red;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.elencoCommenti {
  list-style-type: none;
}

.elencoCommenti > li {
  margin-bottom: 15px;
}

.valutazione {
  padding: 3px 7px;
  background-color: lightgray;
  border-radius: 50%;
}
